.contenedor-principal{
    margin-top: 85px;
    padding: 10px;
    margin-right: 5rem;
    margin-left: 5rem;
}
.contenedor-eventos{
    display: flex;
    justify-content: center;
}
.card-body{
    display: flex;
    text-align: center;
}

.contenedor-eventos span{
    color: #c8271d;
}
.contenedor-eventos button{
    width: 50%; /* Ajusta el ancho al 100% del contenedor */
    padding: 15px; /* Aumenta el relleno del botón */
    border: none; /* Quita el borde del botón */
    background-color: #c8271d; /* Cambia el color de fondo */
    color: #ffffff; /* Cambia el color del texto */
    font-size: 1.5rem;
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}