body,html{
   width: 100%;
   height: 100%;
}
#slide {
    width: 100%;
    /* Ajusta la altura según sea necesario */
    height: 630px; /* Por ejemplo, establece una altura fija */
}
.carousel {
    opacity: 1.0;
    width: 100%;
    /* Ajusta la altura según sea necesario */
    height: 500px; /* Por ejemplo, establece una altura fija */
}

/* Carrusel */
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.slide-item img {
    width: 100%;
    height: auto;
}

.slide-inner {
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 500px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    display: flex;
    justify-content: center;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}


.contenedor-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajustamos el ancho mínimo de las columnas */
    gap: 32px;
    justify-items: center; /* Centramos las cartas horizontalmente */
}

.card {
    width: 100%; /* Hacemos que las cartas ocupen todo el ancho de su contenedor */
    height: 200px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}

.card:hover {
    background-color: #fae94c;
    color: #000;
    box-shadow: 0 0 30px rgba(255, 235, 59, 0.8);
    transform: scale(1.05); /* Agrandar un 5% */
    transition: all 0.3s ease; /* Agregar una transición suave */
}

.card-orange:hover {
    background-color: #ff6b00;
    color: #fff;
    box-shadow: 0 0 30px rgba(255, 107, 0, 0.8);
    transform: scale(1.05); /* Agrandar un 5% */
    transition: all 0.3s ease; /* Agregar una transición suave */
}

.card-blue:hover {
    background-color: #146ef5;
    color: #fff;
    box-shadow: 0 0 30px rgba(108, 117, 125, 0.8);
    transform: scale(1.05); /* Agrandar un 5% */
    transition: all 0.3s ease; /* Agregar una transición suave */
}

.card-green:hover {
    background-color: #00D722;
    color: #fff;
    box-shadow: 0 0 30px rgba(0, 215, 34, 1);
    transform: scale(1.05); /* Agrandar un 5% */
    transition: all 0.3s ease; /* Agregar una transición suave */
}




