.container-registro {
    max-width: 500px;
    margin-left: 7rem;
    padding: 20px;
    margin-top: 90px;
}

.container-registro button {
    width: 50%; /* Ajusta el ancho al 100% del contenedor */
    padding: 15px; /* Aumenta el relleno del botón */
    border: none; /* Quita el borde del botón */
    background-color: #c8271d; /* Cambia el color de fondo */
    color: #ffffff; /* Cambia el color del texto */
    font-size: 1.5rem;
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
}

.title-init {
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Añade espacio debajo del título */
}

.title-init h1 {
    font-family: "Inter Tight", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #2F2F2F;
}

.container-inputs {
    text-align: center; /* Centra los inputs horizontalmente */
    width: calc(100% - 20px); /* Toma el ancho total del formulario, restando el padding */
}

.container-inputs input {
    display: block; /* Para que los inputs ocupen todo el ancho disponible */
    margin-bottom: 25px; /* Agrega margen inferior de 25px */
    padding: 10px;
    font-family: "Inter Tight", sans-serif;
    font-size: 1.2rem;
    border: 1px solid #6C6C6C;
    border-color: #b1b1b1;
    background-color: transparent;
    width: 100%; /* Opcional: ajusta el ancho automáticamente al ancho del contenedor */
    text-align: left; /* Alinea el texto a la izquierda dentro del input */
}

/* Aplica el estilo a todos los placeholders de los inputs */
input::placeholder {
    color: gray;
    font-weight: 300; /* Cambia el tipo de letra del placeholder a light */
    font-size: 1.0rem;
}
